# Python
__pycache__/
*.py[cod]
.venv/

# Build, Dist, and Installer outputs
build/
dist/
installer/
*.exe

# IDEs
.idea/
.vscode/
*.code-workspace

# Logs and temp files
*.log
OmniMesh Builder and Installer.txt

# Documents and Test files
*.pdf
*.docx
*_bookmarked.pdf
*_compressed.pdf
*_merged.pdf
*_converted.pdf
.DS_Store
