# Python
__pycache__/
*.py[cod]
.venv/

# Build, Dist, and Installer outputs
build/
dist/
installer/
*.exe
*.spec
!OmniMesh.spec

# IDEs
.idea/
.vscode/
*.code-workspace

# Logs and temp files
*.log
*.tmp
*.tmp.pdf
build_log.txt
OmniMesh Builder and Installer.txt

# Documents and Test files
*.pdf
*.docx
*.jpg
*.jpeg
*.png
*_bookmarked.pdf
*_compressed.pdf
*_merged.pdf
*_converted.pdf
.DS_Store
*.gguf
